img {
    height: 400px;
}
body {
    text-align: center;
    font-family: Courier;
    background: AntiqueWhite;
    color: DarkCyan;
}
.hover {
    padding: 40px 10px;
    border: none;
    
}

.hover:hover img {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.Brightonbright {
    padding: 40px 10px;
    border: none;
}

.Brightonbright:hover img{
    transform: scale(1.1);
    filter: brightness(1);
}